html {
    font-family: system-ui, sans-serif;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: background 0.5s ease;
}

.container {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 10px;
    
}

.header {
    text-align: center;
    padding-bottom: 7px;
}

h1 {
    margin: 8px 0px;
}

h4 {
    margin: 5px 0px;
}

p {
    margin: 5px 0px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: fit-content;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.keyboard-key {
    width: 36px;
    height: 200px;
    padding: 0 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: #e8e8e8;
    border: 1px solid #ccc;
    border-radius: 6px;
    user-select: none;
    pointer-events: none;
}

.black-key {
    background: #222;
    color: white;
    height: 80px; 
    width: 24px;
    border-color: #222
}

.white-key {
    margin-top: 20px;
}

.key-hint {
    font-size: 10px;
}

.keyboard-key.pressed {
    background: #5c9ead;
    color: #fff;
    border-color: #4a8a98;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.mode-selector {
    width: auto;
    right: 0;
    display: table-cell;
    vertical-align: middle;
}

.right span {
    vertical-align: middle;
}

.right input {
    vertical-align: baseline;
}

.controls {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.adsr-controls {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.vertical-line {
  border-left: 1px solid rgb(206, 206, 206); /* Creates the vertical line */
  height: 100px;                /* Sets the length of the line */
  margin: 0 20px;               /* Adds spacing around the line */
}

.partial-slider-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.partial-controls {
    display: flex;
    flex-direction: column;
}